@model Factory.DAL.Models.Auth.ApplicationRoles
@{
    ViewData["Title"] = "Create Role";
    Layout = "_LogedUser";
}

<div class="container-fluid card  shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")

    @await Html.PartialAsync("_PageTitle")

    <form method="post">
        <div class="mb-3">
            <label for="Name" class="form-label">
                <i class="bi bi-person-badge me-2"></i> Role Name
            </label>
            <input type="text" asp-for="Name" class="form-control" id="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-check-circle me-2"></i> Create Role
            </button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
