@model IEnumerable<Factory.PL.ViewModels.Auth.ApplicationUserViewModel>

@{
    ViewData["Title"] = "User Roles";
    Layout = "_LogedUser";
    ViewData["YoutubeUrl"] = "lbYDCc9_osI";
}

<div class="container-fluid card  shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    <div class="mb-3 text-center">
        <a asp-action="Create" class="btn btn-outline-primary">
            <i class="bi bi-plus-circle me-2"></i> Create Role
        </a>
        <a asp-action="AllRoles" class="btn btn-outline-info ms-2">
            <i class="bi bi-eye me-2"></i> All Roles
        </a>
    </div>
    <div class="table-responsive-lg">
        <table class="table table-striped text-center">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1;
            }
            @foreach (var user in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <div class="role-list-container">
                            <span class="role-list">
                                @foreach (var role in user.Roles)
                                {
                                    <span class="role-item">
                                        <i class="bi bi-shield-check me-1"></i>@role
                                    </span>
                                }
                            </span>
                        </div>
                    </td>
                    <td>
                        <a asp-action="AssignRoles" asp-route-userId="@user.UserId" class="btn btn-outline-secondary">
                            <i class="bi bi-person-check me-2"></i> Assign Roles
                        </a>
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
    </div>
</div>

