@model RestPasswordViewModel
@{
    ViewData["Title"] = "Reset Password Now";
    Layout = "_Auth";
}

<div class="container-fluid d-flex align-items-center justify-content-center overflow-hidden shadow-layer">
    <div class="row w-100 m-0">
        <!-- Left Section: Image -->
        <div class="col-md-6 d-flex align-items-center justify-content-center p-0">
            <img src="/assets/images/Login.png" alt="Real Estate Image" class="img-fluid img-container" style="max-height: 100%; max-width: 100%; object-fit: cover;">
        </div>

        <!-- Right Section: Content -->
        <div class="col-md-6 d-flex align-items-center justify-content-center p-3">
            <div class="w-75">
                <h2 class="text-center mb-4">Reset Password Now</h2>

                <div asp-validation-summary="ModelOnly" id="error-alert" class="alert alert-danger alert-dismissible fade show alert-theme" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                @if (TempData["Error"] != null)
                {
                    <div id="error-alert" class="alert alert-danger alert-dismissible fade show alert-theme" role="alert">
                        @TempData["Error"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (TempData["Success"] != null)
                {
                    <div id="success-alert" class="alert alert-success alert-dismissible fade show alert-theme" role="alert">
                        @TempData["Success"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <form asp-controller="Auth" asp-action="ForgotPassword" method="POST">
                    @Html.AntiForgeryToken()

                    <div class="form-group mb-3">
                        <label asp-for="Email" for="forgot-email">Email</label>
                        <input asp-for="Email" type="email" id="forgot-email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger mt-2"></span>
                    </div>

                    <button type="submit" class="btn-theme w-100 mt-4">Send Reset Link</button>
                </form>

                <a asp-controller="Home" asp-action="Index" class="d-block mt-2 text-center py-2 text-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
