<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h2 class="text-secondary">شركة الزجاج العالمية</h2>
        <h2 class="text-secondary">Global Glass Factory</h2>
    </div>
    <div>
        <img src="~/assets/images/Login.png" alt="Global Glass Factory Logo" width="120">
    </div>
</div>
