@model Factory.PL.ViewModels.OnBoarding.ITSetupViewModel

@{
    ViewData["Title"] = $"IT Setup for {Model.EmployeeName}";
    Layout = "_LogedUser";

}

<div class="container-fluid card shadow-sm p-3 fade-in">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    <div class="card shadow">
        <div class="card-body">
            <form asp-action="UpdateITSetup">
                <input type="hidden" asp-for="OnboardingProcessId" />
                <input type="hidden" asp-for="Module.Id" />
                <div class="form-group">
                    <label asp-for="Module.EmailSetup" class="control-label"></label>
                    <input asp-for="Module.EmailSetup" class="form-check-input" />
                </div>
                <div class="form-group">
                    <label asp-for="Module.HardwareProvisioned" class="control-label"></label>
                    <input asp-for="Module.HardwareProvisioned" class="form-check-input" />
                </div>
                <div class="form-group">
                    <label asp-for="Module.SoftwareInstalled" class="control-label"></label>
                    <input asp-for="Module.SoftwareInstalled" class="form-check-input" />
                </div>
                <div class="form-group">
                    <label asp-for="Module.AccessGranted" class="control-label"></label>
                    <input asp-for="Module.AccessGranted" class="form-check-input" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}