@model Factory.DAL.Models.Warehouses.Item

@{
    ViewData["Title"] = "Add Item";
    Layout = "_LogedUser";
}

<div class="container-fluid card shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    <form asp-action="AddItem" method="post">
        <input type="hidden" value="@ViewBag.Category.Id" name="CategoryId" />
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header ">
                        <h5 class="card-title mb-0">Basic Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="CodeNumber" class="control-label"></label>
                            <input asp-for="CodeNumber" class="form-control" />
                            <span asp-validation-for="CodeNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NameEn" class="control-label"></label>
                            <input asp-for="NameEn" class="form-control" />
                            <span asp-validation-for="NameEn" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NameAr" class="control-label"></label>
                            <input asp-for="NameAr" class="form-control" />
                            <span asp-validation-for="NameAr" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="DescriptionEn" class="control-label"></label>
                            <textarea asp-for="DescriptionEn" class="form-control"></textarea>
                            <span asp-validation-for="DescriptionEn" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="DescriptionAr" class="control-label"></label>
                            <textarea asp-for="DescriptionAr" class="form-control"></textarea>
                            <span asp-validation-for="DescriptionAr" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header ">
                        <h5 class="card-title mb-0">Stock and Pricing</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="MinimumStock" class="control-label"></label>
                            <input asp-for="MinimumStock" class="form-control" />
                            <span asp-validation-for="MinimumStock" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="CurrentStock" class="control-label"></label>
                            <input asp-for="CurrentStock" class="form-control" />
                            <span asp-validation-for="CurrentStock" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UnitOfMeasure" class="control-label"></label>
                            <input asp-for="UnitOfMeasure" class="form-control" />
                            <span asp-validation-for="UnitOfMeasure" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rank" class="control-label"></label>
                            <input asp-for="Rank" class="form-control" />
                            <span asp-validation-for="Rank" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ManufacturingCountryId"></label>
                            <select asp-for="ManufacturingCountryId" class="form-control" asp-items="ViewBag.Countries">
                                <option value="">Select a country</option>
                            </select>
                            <span asp-validation-for="ManufacturingCountryId" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Dimensions and Properties</h5>
                    </div>
                    <div class="card-body">
                        @if (ViewBag.HasDimensions){
                        <div class="form-group">
                            <label asp-for="Thickness" class="control-label"></label>
                            <input asp-for="Thickness" class="form-control" step="0.1" />
                            <span asp-validation-for="Thickness" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Width" class="control-label"></label>
                            <input asp-for="Width" class="form-control" step="0.1" />
                            <span asp-validation-for="Width" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Height" class="control-label"></label>
                            <input asp-for="Height" class="form-control" step="0.1" />
                            <span asp-validation-for="Height" class="text-danger"></span>
                        </div>
                        }
                        <div class="form-group">
                            <label asp-for="Color" class="control-label"></label>
                            <input asp-for="Color" class="form-control" />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer text-center">
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-save"></i> Save
            </button>
            <a href="@Url.Action("Index", "Items", new { categoryId = ViewBag.CategoryId })" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}