@model Factory.PL.ViewModels.Warehouses.SubWarehouseViewModel

@{
    ViewData["Title"] = "Create Sub Warehouse";
    Layout = "_LogedUser";  
}
<div class="container-fluid card shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    <form method="post">
        <!-- First Row: NameEn & NameAr -->
        <div class="row">
            <div class="col-md-6">
                <label asp-for="NameEn" class="form-label"></label>
                <input class="form-control" asp-for="NameEn" />
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="NameAr" class="form-label"></label>
                <input class="form-control" asp-for="NameAr" />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
        </div>

        <!-- Second Row: AddressEn & AddressAr -->
        <div class="row mt-3">
            <div class="col-md-6">
                <label asp-for="AddressEn" class="form-label"></label>
                <input class="form-control" asp-for="AddressEn" />
                <span asp-validation-for="AddressEn" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="AddressAr" class="form-label"></label>
                <input class="form-control" asp-for="AddressAr" />
                <span asp-validation-for="AddressAr" class="text-danger"></span>
            </div>
        </div>

        <!-- Warehouse Selection -->
        <div class="mt-3">
            <label asp-for="MainWarehouseId" class="form-label"></label>
            <select class="form-control" asp-for="MainWarehouseId" asp-items="Model.MainWarehouses">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="MainWarehouseId" class="text-danger"></span>
        </div>

        <div class="card-footer text-center mt-3">
            <button type="submit" class="btn btn-outline-primary">Create Sub Warehouse</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

