@model IEnumerable<Factory.PL.ViewModels.Finance.FinancialReportViewModel>

@{
    ViewData["Title"] = "Financial Report";
    Layout = "_LogedUser";

}
<div class="container-fluid card  shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")
    <div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>Transaction Type</th>
            <th>Total Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TransactionType</td>
                <td>@item.TotalAmount.ToString("N2")</td>
                    </tr>
        }
    </tbody>
</table>
        <div class="card-footer text-center mt-2">

<a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </div>
    </div>
</div>